<launch>
  
   
  <!-- openni2 -->
  <include file="$(find pepper_kinetic)/launch/pepper.launch" />




  <!-- classifier server -->
  <node pkg="rcnn_live_detector" type="classifier_server.py" name="classifier_server" output="screen">
  </node>


    <!-- cloud_clusterer -->
  <node pkg="rcnn_live_detector" type="mapArea" name="map_Area" output="screen">
  </node>
  
 <!-- Comentarios sobre ROS Launch -->
 <!-- De donde se obtiene el type-->
 <!-- type  se encuentra en CMakeList    .cpp   si hago cambio en cualquier .cpp debo catkin_make. Si hago cambio en python no debo hacer ningún cambio -->




 <!--node pkg="rcnn_live_detector" type="reader_rcnn_detector" name="reader_rcnn_detector" output="screen">
  </node-->


</launch>
